/*this modifies the page itself*/
body{
    /*the command here changes the background*/
    background-color: #43638C;
}

/*
    this modifies the contents within the <pre> tag...
    i didn't modify too much, i just wanted to change some things, but let the use of the tag still come through
*/
pre{
    /*this one changes how the text is aligned*/
    text-align: start;
    /*and this changes the font size*/
    font-size: 16px;
}

/*this modifies the contents within the <h1> tag*/
h1{
    /*this changes the color of the background inside the h1 tag only rather than the whole page*/
    background-color: #D9B97E;
    /*this changes the font of the text... i chose this one to make it stand out*/
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

/*this modifies the contents within the <h2> tag*/
h2{
    /*this changes the color of the background inside the border of the h2 tag only*/
    background: linear-gradient(90deg, #8DC0F0, #D287E6) padding-box;
    /*this changes the thickness of the outline of the order*/
    border-width: 2px;
    /*this modifies the style of the line of the border (either dotted, solid, ridge, etc*/
    border-style: solid;
    /*this adjusts the roundness of the corners of the border*/
    border-radius: 10px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*this modifies the contents of a tag with a specific class within a tag*/
.lol{
    /*this helps the program know how to treat a block*/
    display: flex;
    /*this sets items (whether its forced onto one or multiple lines*/
    flex-wrap: wrap;
    /*this sets the gaps between rows and columns*/
    gap: 1rem;
    /*this creates space within a content's elements*/
    padding: 0.5rem;
}

/*this modifies the contents within the <h3> tag*/
h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*this modifies the contents within the <p> tag*/
p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/*the following .img blocks help in modifying the image*/
.img-chris{
    /*this changes the width*/
    width: 500px;
    /*this changes the length*/
    height: 667px;
}

.img-brad{
    width: 540px;
    height: 675px;
}

.img-charles{
    width: 552px;
    height: 824px;
}