h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 64px;
    color: #0e1a40;
    text-align: center;
}

#headers{
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    font-weight: lighter;
    color: #740001;

    padding-top: 30px;
    padding-bottom: 10px;
}

#titles{
    font-family: 'Gloock', serif;
    font-size: 20px;
    font-weight: bold;
    color: #1a472a;

    padding-top: 20px;
    padding-bottom: 10px;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    text-align: justify;
    color: #372e29;

    padding-right: 35px;
    background-color: #726255;
}

#qckfnd{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.search{
    text-align: center;
    
    background-color: #5d5d5d;
    box-sizing: border-box;
    border-radius: 5px;
    width: 40%;
    padding: 0.5rem;
    margin: auto;
    /*find a way to make it centered like you did before in chapter 1*/
}

#casthead{
    font-weight: bold;
    color: #1a472a;

    padding-bottom: 15px;
}